@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap);

body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Ubuntu-BI';
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'bahnschrift';
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.4rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-5 {
  font-family: 'SEGOEUI';
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'SEGOEUI';
  font-size: 0.8rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.28rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #0496fc !important;
}
.bg-success {
  background-color: #b41d43 !important;
}
.bg-info {
  background-color: #0f7699 !important;
}
.bg-warning {
  background-color: #0886ff !important;
}
.bg-danger {
  background-color: #0496fc !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #0496fc !important;
  border-color: #0496fc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0269b1 !important;
  border-color: #0269b1 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0269b1 !important;
  border-color: #0269b1 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e90505 !important;
  border-color: #e90505 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #9e0303 !important;
  border-color: #9e0303 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #9e0303 !important;
  border-color: #9e0303 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #084053 !important;
  border-color: #084053 !important;
}
.btn-success,
.btn-success:active {
  background-color: #b41d43 !important;
  border-color: #b41d43 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #72122a !important;
  border-color: #72122a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #72122a !important;
  border-color: #72122a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #0886ff !important;
  border-color: #0886ff !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #005fba !important;
  border-color: #005fba !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #005fba !important;
  border-color: #005fba !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #0496fc !important;
  border-color: #0496fc !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #0269b1 !important;
  border-color: #0269b1 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #0269b1 !important;
  border-color: #0269b1 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #025a98;
  color: #025a98;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #0496fc;
  border-color: #0496fc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0496fc !important;
  border-color: #0496fc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #850303;
  color: #850303;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #e90505;
  border-color: #e90505;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e90505 !important;
  border-color: #e90505 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #062e3c;
  color: #062e3c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #0f7699;
  border-color: #0f7699;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0f7699 !important;
  border-color: #0f7699 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #5c0f22;
  color: #5c0f22;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #b41d43;
  border-color: #b41d43;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #b41d43 !important;
  border-color: #b41d43 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #0052a1;
  color: #0052a1;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #0886ff;
  border-color: #0886ff;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #0886ff !important;
  border-color: #0886ff !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #025a98;
  color: #025a98;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #0496fc;
  border-color: #0496fc;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #0496fc !important;
  border-color: #0496fc !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #0496fc !important;
}
.text-secondary {
  color: #e90505 !important;
}
.text-success {
  color: #b41d43 !important;
}
.text-info {
  color: #0f7699 !important;
}
.text-warning {
  color: #0886ff !important;
}
.text-danger {
  color: #0496fc !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #025a98 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #850303 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #5c0f22 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #062e3c !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #0052a1 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #025a98 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0f7699;
}
.alert-warning {
  background-color: #0886ff;
}
.alert-danger {
  background-color: #0496fc;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0496fc;
  border-color: #0496fc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #0496fc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ceeafe;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e76a89;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #3cbfec;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #d4eaff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ceeafe;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'SEGOEUI';
  font-size: 0.8rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.28rem;
}
blockquote {
  border-color: #0496fc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #0496fc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #0496fc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0496fc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0496fc;
  border-bottom-color: #0496fc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0496fc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e90505 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230496fc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rXnuWjSDvj {
  background-image: url("../../../assets/images/pexels-jshoots-49571.webp");
}
.cid-rXnuWjSDvj H1 {
  color: #efefef;
}
.cid-rW9YzAyVnh {
  padding-top: 30px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/abstract-background-blur-modern-living-room-49683.webp");
}
@media (max-width: 767px) {
  .cid-rW9YzAyVnh .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rW9YzAyVnh .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-rW9YzAyVnh .media-wrap img {
  height: 6rem;
}
.cid-rW9YzAyVnh .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-rW9YzAyVnh .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rW9YzAyVnh .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-rW9YzAyVnh .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rW9YzAyVnh .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-rW9YzAyVnh .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rW9YzAyVnh .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rW9YzAyVnh .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rW9YzAyVnh .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rW9YzAyVnh .copyright > p {
  color: #0496fc;
}
.cid-rW9YzAyVnh .links {
  text-align: right;
  color: #ea1a1a;
}
.cid-rWyVs5IWF8 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-2.jpg");
}
.cid-rWyVs5IWF8 .mbr-section-subtitle {
  color: #ff3366;
  text-align: center;
}
.cid-rWyVs5IWF8 .media-container-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rWyVs5IWF8 .mbr-text {
  color: #f00808;
}
.cid-rWyVs5IWF8 .mbr-author-desc {
  display: block;
  color: #767676;
}
.cid-rWyVs5IWF8 .mbr-author-name {
  color: #06b9f7;
  text-align: center;
}
.cid-rWyVs5IWF8 .mbr-testimonial .panel-item {
  background-color: #ffd7c3;
}
.cid-rWyVs5IWF8 .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2.4rem 2.4rem 0 2.4rem;
}
.cid-rWyVs5IWF8 .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-rWyVs5IWF8 .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-rWyVs5IWF8 .mbr-testimonial .card-footer {
  padding-bottom: 2.4rem;
  border-top: 0;
  padding-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 300px) {
  .cid-rWyVs5IWF8 .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-rWyVs5IWF8 H2 {
  color: #ffffff;
}
.cid-s3BknBXHQO {
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/mbr-2.jpeg");
}
@media (max-width: 767px) {
  .cid-s3BknBXHQO .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-s3BknBXHQO .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-s3BknBXHQO .media-wrap img {
  height: 6rem;
}
.cid-s3BknBXHQO .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-s3BknBXHQO .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-s3BknBXHQO .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-s3BknBXHQO .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-s3BknBXHQO .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-s3BknBXHQO .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-s3BknBXHQO .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-s3BknBXHQO .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-s3BknBXHQO .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-s3BknBXHQO .copyright > p {
  color: #0496fc;
  text-align: left;
}
.cid-s3BknBXHQO .links {
  color: #ffffff;
  text-align: right;
}
.cid-rWa7p7RavW {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/pexels-christina-morillo-1181272-2000x1335.jpeg");
}
.cid-rWaghJDhdz {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #2b0811;
}
.cid-rWaghJDhdz .mbr-section-subtitle {
  color: #767676;
}
.cid-rWaghJDhdz .btn {
  margin: 0 0 .5rem 0;
}
.cid-rWaghJDhdz H2 {
  text-align: left;
  color: #efefef;
}
.cid-rWa7GpRo2V {
  padding-top: 90px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/pexels-photo-2247181.webp");
}
.cid-rWa7GpRo2V .mbr-text,
.cid-rWa7GpRo2V .mbr-section-btn {
  text-align: center;
  color: #ff0086;
}
.cid-rW9mhgyeRH {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/free-desktop-download-abstract-minimalist-wallpaper-hd-1.webp");
}
.cid-rW9mlud3RD {
  padding-top: 60px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/minimalist-desktop-6.webp");
}
.cid-rW9mlud3RD h2 {
  margin-bottom: 0;
}
.cid-rW9mlud3RD h4 {
  font-weight: 500;
  margin-bottom: 0;
  width: 80%;
}
.cid-rW9mlud3RD p {
  color: #767676;
  margin-bottom: 0;
}
.cid-rW9mlud3RD .card-wrapper {
  border-top: 1px solid #ffffff;
  background-color: #170a76;
  position: relative;
  justify-content: unset;
}
.cid-rW9mlud3RD .card-wrapper .card-box {
  padding: 2rem 1rem;
  width: 100%;
}
.cid-rW9mlud3RD .card-wrapper .card-box .top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cid-rW9mlud3RD .card-wrapper .card-box .bottom-line {
  width: 70%;
}
@media (max-width: 767px) {
  .cid-rW9mlud3RD .card-wrapper .card-box .bottom-line {
    width: 100%;
  }
  .cid-rW9mlud3RD .card-wrapper .card-box .bottom-line p {
    text-align: center;
    margin: 1rem 0 0 0;
  }
}
.cid-rW9mlud3RD P {
  text-align: center;
  color: #ffffff;
}
.cid-rW9mlud3RD .card-title {
  text-align: center;
  color: #c4bc3b;
}
.cid-rW9mlud3RD H2 {
  text-align: center;
  color: #ffffff;
}
.cid-rW9vBqgqHZ {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #000238;
}
@media (max-width: 767px) {
  .cid-rW9vBqgqHZ .content {
    text-align: center;
  }
  .cid-rW9vBqgqHZ .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rW9vBqgqHZ .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rW9vBqgqHZ .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rW9vBqgqHZ .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-rW9vBqgqHZ .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rW9vBqgqHZ .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rW9vBqgqHZ .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rW9vBqgqHZ .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rW9vBqgqHZ .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rW9vBqgqHZ .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rW9vBqgqHZ .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rW9vBqgqHZ .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rW9vBqgqHZ P {
  text-align: left;
}
.cid-rW9vBqgqHZ H5 {
  text-align: left;
}
.cid-rW9hQf4kpQ {
  background-image: url("../../../assets/images/business-computer-connection-contemporary-450035.webp");
}
.cid-shf0bNxOR6 {
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-shf0bNxOR6 h1 {
  color: #616161;
}
.cid-shf0bNxOR6 h2,
.cid-shf0bNxOR6 h3,
.cid-shf0bNxOR6 p {
  color: #767676;
}
.cid-shf0bNxOR6 .mbr-section-subtitle {
  font-style: italic;
}
.cid-shf0bNxOR6 H1 {
  color: #ffffff;
}
.cid-shf0bNxOR6 .mbr-text,
.cid-shf0bNxOR6 .mbr-section-btn {
  color: #ffffff;
}
.cid-shf26qyXZc {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #232323;
}
